
/**
 * Pedigree
 */
.node circle {
    stroke: #333333;
    stroke-width: 2px;
}
.node text {
    font: 12px sans-serif;
    fill: currentColor;
}
.link {
    fill: none;
    stroke-width: 4px;
}
#tree .tree-node {
    cursor: pointer;
}

/**
 * Legend
 */
.sidebar.tripald3-legend-sidebar {
  width: 100%;
}

/**
 * Float the legend
 * so that the description is on the left and the key on the right.
 *
#block-menu-menu-tree-description {
  margin-left: 10px;
  width: 100%;
  border-color: #FFF;
  width: auto;
  overflow: hidden;
}
#block-menu-menu-tree-legend {
  width: 280px;
  float: right;
  margin-right: 10px;
}
*/